<h3 class="center-align">ðŸ“–</h3>
<div class="divider"></div>
<div class="container">
  <% if @articles.empty? %>
    <h3 class="center-align"><b><%= "åŸ·ç­†ã‚’å¾…ã¦ï¼" %></b></h3>
  <% end %>
  <% @articles.each do |article| %>
    <% if article.published? %>
      <h5><b><%= link_to "#{article.title}", article %></b></h5>
      <%= article.created_at.strftime('%Y/%m/%d %H:%M') %>
      <% if current_user %>
        <%= link_to "ç·¨é›†", edit_article_path(article) %>
        <%= link_to "å‰Šé™¤", article, method: :delete,  data: { confirm: "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ" } %>
      <% end %>
    <% end %>
  <% end %>
</div>
