<div class="center-align">
  <h3><b><%= @article.title %></b></h3>
  <%= @article.created_at.strftime('%Y/%m/%d %H:%M') %>
  <% if current_user %>
      <%= link_to "編集", edit_article_path(@article) %>
      <%= link_to "削除", @article, method: :delete, data: { confirm: "本当に削除しますか?" } %>
      <% if @article.post_reservation_date.present? %>
        <%= "現在未公開中です" %>
      <% end %>
  <% end %>
</div>
<div class="divider"></div>

<p><%= @article.content %></p>
<% if @article.images.attached? %>
  <%= image_tag @article.image.variant(:display) %>
<% end %>
